body {
	background-color: white;
	color: #333;
	font-family: Georgia, serif;
	font-size: 14pt;
	line-height: 1.5;	
}

header {
	margin: 2em 0;
	font-size: 120%;
}

.right {
	float: right;
}
.hidden {
	display: none;
}

.error {
	background-image: repeating-linear-gradient(45deg, #F33, #F33 15px, #F66 15px, #F66 30px);
	border-radius: 6px;
	padding: .25em .5em;
	color: white;
}
.error a {
	float: right;
	text-decoration: none;
	color: inherit;
}