body {
	background-color: white;
	color: #333;
	font-family: Georgia, serif;
	font-size: 14pt;
	line-height: 1.5;	
}

header {
	margin: 2em 0;
	font-size: 120%;
}
header a {
	float: right;
}

textarea {
	width: 100%;
}