body {
	background-color: white;
	color: #333;
	font-family: Georgia, serif;
	font-size: 14pt;
	line-height: 1.5;	
}

header {
	margin: 2em 0;
	font-size: 120%;
}
header a:last-child {
	float: right;
}

textarea {
	width: 100%;
	height: 400px;
}

.error {
	background-image: repeating-linear-gradient(45deg, #F66, #F66 15px, #FAA 15px, #FAA 30px);
	border-radius: 10px;
	padding: .25em .5em;
}
.error a {
	float: right;
	text-decoration: none;
	color: #333;
}