{% macro style(name) -%}
	<link rel="stylesheet" type="text/css" href="{{ request.script_root }}/static/css/{{ name }}.css">
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	{{ style('skeleton') }}
	{{ style('base') }}
	{% endblock head %}
</head>
<body>
	<div class="container">
		<header>
			{% if session.get("logged_in", False) %}
				<a href="{{ request.script_root }}/logout">Log out</a>
			{% elif %}
				<a href="{{ request.script_root }}/login">Log in</a>
			{% endif %}
		</header>
		{% block content %}{% endblock %}
	</div>
</body>
</html>