{% macro style(name) -%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/{}.css'.format(name)) }}">
{%- endmacro %}
{% macro script(name) -%}
	<script type="application/javascript" src="{{ url_for('static', filename='js/{}.js'.format(name)) }}"></script>
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- normalize.css from https://necolas.github.io/normalize.css/ -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	
	{{ style('skeleton') }}
	{{ style('base') }}
	{{ script('error') }}
	{% endblock head %}
</head>
<body>
	<div class="container">
		<header>
			<a href="{{ url_for('index') }}">Stash</a>
			<span class="right">
				{% if session.get("logged_in", False) %}
					<a href="{{ url_for('upload') }}">Upload</a> <a href="{{ url_for('logout') }}">Log out</a>
				{% else %}
					<a href="{{ url_for('login') }}">Log in</a>
				{% endif %}
			</span>
		</header>
		{% block content %}{% endblock %}
	</div>
</body>
</html>