{% macro style(name) -%}
	<link rel="stylesheet" type="text/css" href="static/css/{{ name }}.css">
{%- endmacro %}
{% macro script(name) -%}
	<script type="application/javascript" src="static/js/{{ name }}.js"></script>
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	{{ style('skeleton') }}
	{{ style('base') }}
	{{ script('error') }}
	{% endblock head %}
</head>
<body>
	<div class="container">
		<header>
			<a href="./">Sam's stash</a>
			{% if session.get("logged_in", False) %}
				<a href="logout">Log out</a>
			{% else %}
				<a href="login">Log in</a>
			{% endif %}
		</header>
		{% block content %}{% endblock %}
	</div>
</body>
</html>