{% extends "base.html" %}
{% block title %}Files{% endblock %}
{% block content %}
	{% for file in files %}
		<div class="file">
			<p>{{ file['name'] }} ({{ file['size'] }})</p>
			<p>
				<a class="button button-primary" href="{{ url_for('download', name=file['name']) }}">Download</a>
				{% if session.get("logged_in", False) %}
					<a class="button button-danger" href="{{ url_for('delete', name=file['name']) }}">Delete</a>
				{% endif %}
			</p>
		</div>
	{% else %}
		<p>No files uploaded.</p>
	{% endfor %}
{% endblock %}