{% extends "base.html" %}
{% from "base.html" import script, style %}
{% block title %}Upload{% endblock %}
{% block head %}
	{{ super() }}
	{{ style('upload') }}
	{{ script('upload') }}
{% endblock %}
{% block content %}
	{% for cat, msg in get_flashed_messages(True) %}
		<p class="{{ cat }}">{{ msg }}</p>
	{% endfor %}
	<p>{{ secret }}</p>
	<form action="upload" method="POST">
		<div>
			<p><input id="file" type="file" name="file"></p>
			<p><input type="submit" value="Submit"></p>
		</div>
		<div id="droptarget" class="hidden"></div>
	</form>
{% endblock %}